# ==========================================
# Configuración del Proyecto
# ==========================================
ENVIRONMENT=development

# ==========================================
# Base de Datos (MySQL 8.4 LTS)
# ==========================================
# Credenciales utilizadas por Docker y Django

# Opción A: Base de datos local en contenedor Docker
#DB_HOST=db
#DB_PORT=3306
#DB_NAME=ideacampus
#DB_USER=usuario
#DB_PASSWORD=ingresa_aqui_tu_password_local
#DB_ROOT_PASSWORD=ingresa_aqui_tu_password_root

# Opción B: Base de datos compartida de desarrollo (solicitar credenciales al equipo)
DB_NAME=railway
DB_USER=root
DB_PASSWORD=ingresa_aqui_el_password_de_railway
DB_HOST=ingresa_aqui_el_host_de_railway
DB_PORT=3306

# Opción C: Conexión directa mediante DATABASE_URL (Railway / Cloud)
#DATABASE_URL=mysql://root:password@host:port/railway

# ==========================================
# Backend (Django)
# ==========================================
DJANGO_SECRET_KEY=ingresa_una_llave_secreta_local_para_django
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
JWT_KEY=ingresa_una_llave_secreta_local_para_jwt_minimo_32_bytes

# ==========================================
# Autenticación (Google Workspace UFPS - RF01)
# ==========================================
# Credenciales de Google Cloud Console para el inicio de sesión
GOOGLE_CLIENT_ID=tu_client_id_institucional.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret_institucional

# ==========================================
# Frontend (React / Vite)
# ==========================================
# URL base para que React se comunique con el API de Django
VITE_API_URL=http://localhost:8000/api