# ==========================================
# Entorno General
# ==========================================
NODE_ENV=development
PORT=3000

# ==========================================
# Configuración de Base de Datos (MySQL 8.0)
# ==========================================
# Estas variables serán consumidas por Docker y el Backend
DB_HOST=db
DB_PORT=3306
DB_USER=usuario_emprendimiento
DB_PASSWORD=tu_password_local_seguro
DB_NAME=emprendimientos_ufps_db
DB_ROOT_PASSWORD=tu_password_root_local

# ==========================================
# Autenticación (Google Workspace UFPS)
# ==========================================
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret
JWT_SECRET=super_secreto_para_firmar_tokens_locales

# ==========================================
# Django (Si deciden usar Python en lugar de Node)
# ==========================================
# DJANGO_SECRET_KEY=clave_secreta_local
# DJANGO_DEBUG=True