# ==========================================
# Configuración del Proyecto
# ==========================================
ENVIRONMENT=development

# ==========================================
# Base de Datos (MySQL 8.4 LTS)
# ==========================================
# Credenciales utilizadas por Docker y Django

#DB_HOST=db
#DB_PORT=3306
#DB_NAME=ideacampus
#DB_USER=usuario
#DB_PASSWORD=ingresa_aqui_tu_password_local
#DB_ROOT_PASSWORD=ingresa_aqui_tu_password_root

DB_NAME=railway
DB_USER=root
DB_PASSWORD=OhIdBNVyOhndQFTaEDQIaoLWnOCRrVDT
DB_HOST=tokaido.proxy.rlwy.net
DB_PORT=15719

# ==========================================
# Backend (Django)
# ==========================================
DJANGO_SECRET_KEY=ingresa_una_llave_secreta_local_para_django
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# ==========================================
# Autenticación (Google Workspace UFPS - RF01)
# ==========================================
# Credenciales de Google Cloud Console para el inicio de sesión
GOOGLE_CLIENT_ID=tu_client_id_institucional.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_client_secret_institucional

# ==========================================
# Frontend (React / Vite)
# ==========================================
# URL base para que React se comunique con el API de Django
VITE_API_URL=http://localhost:8000/api